<% content_for :body do -%>
	<%= error_messages_for :register -%>
	<% form_for @register do |f| -%>
		<div class="text_fields">
			<div><%= f.label :nickname, '暱稱：' %></div>
			<div><%= f.text_field :nickname %></div>
		</div>
		
		<div class="text_fields">
			<div><%= f.label :email, 'Email：' %></div>
			<div><%= f.text_field :email %></div>
		</div>
		
		<div class="text_fields">
			<div><%= f.label :tel, '聯絡電話：' %></div>
			<div><%= f.text_field :tel %></div>
		</div>
		
		<div class="text_fields">
			<div><%= f.label :ptt_id, 'PTT 帳號：' %></div>
			<div><%= f.text_field :ptt_id %> (非必填)</div>
		</div>
		
		<%= submit_tag "報               名", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "資料處理中", :confirm => '確認送出?!' %>
		
	<% end -%>
<% end -%>